* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #1e1d23;
	font-size: 24px;
}

nav{
    top: 0;
    position: sticky;
    font-family: Poppins;
    font-weight: 400;
    z-index: 999;
}

nav ul {
	height: 100vh;
	width: 70%;
    list-style: none;    
	transition: transform .3s;
    opacity: 0;
    float: right;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8rem;
}

nav li{
    padding-top: 3.5rem;
}

nav a{
    padding-right: 2rem;
    color: black;
    text-decoration: none;
    position: relative;
}

nav i,
.h a,
.h a:after,
.h a:before{
  transition: all .5s ease;
}

.h a:hover{
  color: red;
  font-size: 100%;
}

.h a:after{
  position: absolute;
  top: 1.6rem;
  left: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: green;
  height: 2px;
}

.h a:hover:after{
  width: 70%;
}

nav i:hover{
    transform: scale(1.1);
}

.media{
    height: 8vh;
    display: none;
}

.burger{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
	transition: transform .3s;
}

.active{
    opacity: 1;
    transition: all .2s ease;
}

.hide{
    display: none;
}

.logo img{
    height: 6vh;
    width: 6vh;
    z-index: 999;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 80%;
    float: left;
    background-color: #fff;
}

.pge img{
    height: 6vh;
    z-index: 999;
    margin-left: 8rem;
}

.pge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 20%;
    background-color: #fff;
    float: left;
}

.main{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0), rgb(0 0 0 / 0.6)), url(./img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.tytul{
    margin-bottom: 8rem;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
    min-width: 700px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    border-radius: 15px;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	color: var(--nav-bg);
}

.headin{
    color: var(--text-color);
    text-align: center;
    width: 50%;
    float: left;
    height: 4vh;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: rgb(12, 190, 12);
}

.pos{
	text-align: center;
}

.pos td{
	color: var(--text-color);
}

.lpos{
    text-align: center;
}

.lpos td{
    color: red;
}

.wpos:hover{
	background-color: var(--hover-color);
}

.wpos:hover td,
.pos:hover td,
.lpos:hover td{
    color: #fff;
}

.pos:hover{
	background-color: var(--hover-color);
}

.lpos:hover{
    background-color: var(--hover-color);
}

.guzik{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    height: 4vh;
}

.przycisk{
    width: 50%;
    float: left;
}

.przycisk select{
    height: 30px;
    width: 100px;
    color: black;
    background: lightgray;
    border-radius: 15px;
}

#x{
    display: block;
}

#y{
    display: none;
}
@media screen and (min-width: 768px){
    nav{
        background-color: #fff;
        height: 8vh;
    }
    .logo{
        width: 25%;
        float: left;
        justify-content: end;
    }
    .pge{
        width: 10%;
        float: left;
    }
    nav ul{
        height: 100%;
        width: 65%;
        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
    }
    nav li{
        margin-left: 2rem;
        display: flex;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .media{
        margin-top: 8vh;
        display: block;
        float: left;
    }
    .media ul{
        display: block;
        display: flex;
        align-items: center;
    }
    .media li{
        margin-left: 0;
    }
    .inv{
        display: none;
    }
    .tytul{
        margin: 3rem;
    }
}

@media screen and (max-width: 768px){
    nav ul{
        background: rgba(255, 255, 255, 0.676);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}




.pro{
    width: 100%;
    height: 100vh;
}

#pro{
    background-color: blue;
}

#cen{
    background-color: blueviolet;
}