@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans+Narrow&family=Poppins&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

:root{
    --text: #0b0c09;
    --background: #f8fbf6;
    --primary: #509c1c;
    --secondary: #b1da96;
    --accent: #9cd476;
    --red: #DB5A5A;
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--text);
	background-color: var(--background);
	font-size: 24px;
}

a{
    text-decoration: none;
}

nav{
    top: 0;
    position: sticky;
    font-family: Poppins;
    font-weight: 400;
    z-index: 999;
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
}

nav ul {
	height: 100vh;
	width: 70%;
    list-style: none;    
	transition: transform .3s;
    float: right;
    display: none;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background);
}

nav a{
    padding-right: 2rem;
    color: var(--text);
    text-decoration: none;
    position: relative;
}

nav li{
    padding-bottom: 3.5rem;
}

nav i,
.h a,
.h a:after,
.h a:before{
  transition: all .5s ease;
}

.h a:hover{
  transform: scale(.95);
  font-size: 100%;
}

.h a:after{
  position: absolute;
  top: 1.9rem;
  left: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--primary);
  height: 2px;
}

.h a:hover:after{
  width: 70%;
}

nav i:hover{
    transform: scale(1.1);
    color: var(--primary);
}

.media{
    height: 8vh;
    display: none;
}

.burger{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
	transition: transform .3s;
}

.active{
    display: flex;
    transition: all .2s ease;
}

.hide{
    display: none;
}

.logo img{
    height: 6vh;
    width: 6vh;
    z-index: 999;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 80%;
    float: left;
    background-color: var(--background);
}

.pge img{
    height: 6vh;
    z-index: 999;
    margin-left: 8rem;
}

.pge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 20%;
    background-color: var(--background);
    float: left;
}

.main{
    height: 92vh;
}

.shape{
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--accent);
    height: 92vh;
}

.main-img{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.main-img img{
    height: 400px;
    width: 600px;
}

.main-text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.main-text h3{
    font-style: italic;
    font-size: 2.5rem;
    color: var(--primary);
}

.main-text h2{
    font-size: 4rem;
    color: var(--text);
}


.scroll a{
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--text);
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    z-index: 5;
    text-align: center;
}
.scroll a:hover {
    opacity: .5;
}

.main a{
    padding-top: 80px;
}

.main a span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    z-index: 999;
}
.main a span:nth-of-type(1){
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.main a span:nth-of-type(2){
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.main a span:nth-of-type(3){
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

section:nth-child(5){
    padding-bottom: 1rem;
}

section:nth-child(3){
    margin-top: 5rem;
}

.tytul{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.ptable table{
	margin: 30px auto 0 auto;
	border-collapse: collapse;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
}

.ptable{
	margin: 0px 0% 30px 0%;
}

.col{
    background-color: var(--secondary);
}

th, td {
    padding: 10px;
}

th{
	color: var(--text);
}

.headin{
    color: var(--text);
    text-align: center;
    width: 50%;
    float: left;
    height: 4vh;
}

.wpos{
	text-align: center;
}

.wpos td:nth-child(1){
	color: var(--primary);
}

.pos{
	text-align: center;
}

.pos td{
	color: var(--text);
}

.pos td:nth-child(2){
    width: 300px;
}

.lpos{
    text-align: center;
}

.lpos td:nth-child(1){
    color: #CF1717;
}

.wpos:hover{
	background-color: var(--primary);
}

.wpos:hover td,
.lpos:hover td{
    color: var(--background);
}

.pos:hover{
	background-color: var(--hover-color);
}

.lpos:hover{
    background-color: var(--red);
}

.swora{
    font-style: italic;
    font-weight: 600;
    text-decoration: underline 2px var(--accent);
}

#seniorzy{
    display: block;
}

#js,
#jm,
#trampkarz,
#mlodzik{
    display: none;
}

.guzik{
    width: 100%;
    text-align: center;
    height: 4vh;
}

.przycisk{
    width: 50%;
    float: left;
}

select:-moz-focusring{
    color: transparent;
    text-shadow: 0 0 0 #000;
}
  
select{
    background-image:
      linear-gradient(45deg, transparent 50%, #509c1c 50%),
      linear-gradient(135deg, #509c1c 50%, transparent 50%),
      linear-gradient(to right, #509c1c, #509c1c);
    background-position:
      calc(100% - 20px) calc(0rem + 50%),
      calc(100% - 15px) calc(0rem + 50%),
      calc(100% - 2.5rem) 50%;
    background-size:
      5px 5px,
      5px 5px,
      1px 1em;
    background-repeat: no-repeat;

    width: 200px;
    background-color: var(--background);
    border: thin solid var(--accent);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    padding: 0.2em 3em 0.2em .5em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
  
select:focus{
    background-image:
      linear-gradient(45deg, #b1da96 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #b1da96 50%),
      linear-gradient(to right, #b1da96, #b1da96);
    background-position:
      calc(100% - 15px) 50%,
      calc(100% - 20px) 50%,
      calc(100% - 2.5rem) 50%;
    background-size:
      5px 5px,
      5px 5px,
      1px 1em;
    background-repeat: no-repeat;
    border-color: var(--secondary);
    outline: 0;
}

.title{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: 0rem 0 3rem 5rem;
    text-transform: uppercase;
}

.contact{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    background-color: #DAE5D2
}

.contact-box{
    width: 50%;
}

.icon{
    position: absolute;
    left: 2.5rem;
}

.address{
    width: 50%;
}

.address iframe{
    height: 500px;
    width: 100%;
    
}

.phone{
    text-align: center;
    margin-bottom: 1.8rem;
}

.phone i{
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--background);
}

.phone:nth-child(5) i{
    margin-top: 0;
}

.phone:nth-child(5) h2{
    margin-left: 3rem;
}

.phone h2{
    font-size: 1.6rem;
    font-weight: 600;
}

.phone h3{
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
}

.phone a{
    color: var(--primary);
}

.contact-info span{
    border-bottom: 2px solid var(--accent);
}


.container{
    width: 80%;
    display: flex;
    margin: 2rem auto;
}

.history-img img{
    height: 270px;
    margin-right: 3rem;
}

.history-btn{
    margin-top: 1rem;
}

.history-btn a{
    padding: 0.4rem .8rem;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 30px;
    font-size: 1.3rem;
    transition: all .2s ease;
}

.history-btn i{
    margin-left: .6rem;
    padding: 6px;
    border: 2px solid var(--background);
    color: var(--text);
    border-radius: 50%;
    transition: all .3s ease-in;
}

.history-btn a:hover i{
    margin-left: 1rem;
}

.history-btn a:hover{
    opacity: .8;
}

.sponsor-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    letter-spacing: 2px;
    margin-top: 2rem;
}

.sponsorzy-logo{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.sponsorzy-logo a{
    text-align: center;
}

.sponsorzy-logo>*{
    flex: 0 0 33.3333%;
}

.sponsorzy-logo img{
    aspect-ratio: 2/1;
    width: 280px;
    object-fit: contain;
    filter: grayscale(100%);
    margin: 1rem 0;
    transition: all 0.3s ease-in;
}

.sponsorzy-logo img:hover{
    transform: scale(1.05);
    filter: none;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
}


footer{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--secondary);
}

.socials{
    margin: auto;
}

.socials i{
    padding: 8px;
    border-radius: 50%;
    font-size: 2rem;
    margin: 1rem 1.5rem 1rem .5rem;
    background-color: var(--primary);
    color: var(--background);
    transition: all .3s ease-in;
}

.socials i:hover,
.footer-nav li:hover{
    transform: scale(.92);
    opacity: .8;
}

.footer-nav{
    margin: auto;
}

.footer-nav ul{
    list-style: none;
    display: flex;
}

.footer-nav li{
    padding: 0 2rem 1rem;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 2rem;
    color: var(--text);
    transition: all .3s ease-in;
}

.copyrights{
    background-color: var(--text);
    color: var(--background);
}

.copyrights p{
    margin: .5rem 0;
    font-size: 1rem;
}

.copyrights span{
    font-weight: bold;
    color: var(--primary);
    font-size: 1.1rem;
}

.copyrights p:nth-child(2){
    font-size: 1.2rem;
}

.copyrights p:nth-child(2) a{
    color: var(--background);
}

.copyrights p:nth-child(2) span{
    color: var(--secondary);
}

.copyrights p:nth-child(2) i{
    color: var(--secondary);
}

.top-btn{
    width: 2.3rem;
    height: 2.3rem;
    position: fixed;
    right: 3.5rem;
    bottom: 3.5rem;
    background-color: var(--red);
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.top-btn i{
    font-size: 1rem;
}

.show{
    display: block flex;
}

.historia .shape{
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.historia .main-text p{
    font-style: italic;
    /* font-size: 2.5rem; */
    color: var(--primary);
}

.historia .main-img{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.historia .main-text{
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: right;
}

.historia-container{
    width: 80%;
    margin: 2rem auto;
}

.historia-text{
    display: flex;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.historia-container p{
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 1.28rem;
}

.historia-container ul{
    list-style: none;
    margin: 1rem 0 1rem 4rem;
}

.historia-container p:nth-child(2) img{
    height: 200px;
    width: 200px;
}

.historia-img_box{
    display: flex;
    justify-content: center;
}

.historia-img_box img{
    margin: 0 3rem;
}

.historia-img_box img{
    margin: 1rem 2rem;
    height: 200px;
}

.historia-container p:nth-child(6) img{
    height: 250px;
    margin-left: 1rem;
}

.historia-container p:nth-child(9) img{
    height: 250px;
    margin-right: 2rem;
}




@media screen and (min-width: 768px){
    nav{
        background-color: #fff;
        height: 8vh;
    }
    .logo{
        width: 25%;
        float: left;
        justify-content: end;
    }
    .pge{
        width: 10%;
        float: left;
    }
    nav ul{
        height: 100%;
        width: 65%;
        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
    }
    nav li{
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        padding-bottom: 0;
    }
    .burger{
        display: none;
    }
    .media{
        display: block;
        float: left;
    }
    .media ul{
        display: block;
        display: flex;
        align-items: center;
    }
    .media li{
        margin-left: 0;
    }
    .inv{
        display: none;
    }
    .tytul{
        margin: 3rem;
    }
}

@media screen and (max-width: 768px){
    nav ul{
        background: rgba(255, 255, 255, 0.676);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .inv i{
        font-size: 1.85rem;
    }
    th:nth-child(5),
    th:nth-child(6),
    th:nth-child(7),
    th:nth-child(8),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8){
    display: none;
    }
    .main-img{
        display: none;
    }
    .main{
        background: url(./img/main-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100svh;
    }
    .shape{
        opacity: .8;
    }
    .main-text{
        left: 50%;
    }
    .main-text h2{
        color: var(--background);
        font-size: 3rem;
    }
    .main-text h3{
        font-size: 1.5rem;
    }
    .scroll a{
        color: var(--background);
    }
    .main a span{
        border-left: 1px solid var(--background);
        border-bottom: 1px solid var(--background);
    }
    .ptable{
        margin: 2rem 2rem 0 .5rem;
        width: 90%;
        transform: scale(.8);
    }
    .pos td:nth-child(2){
        width: auto;
    }
    .headin{
        width: 40%;
    }
    .przycisk{
        width: 60%;
    }
    .contact{
        flex-direction: column;
        display: flex;
    }
    .address{
        width: 100%;
    }
    .contact-box{
        width: 100%;
    }
    .icon{
        left: .7rem;
    }
    .phone i{
        font-size: 1rem;
    }
    .phone h2{
        font-size: 1rem;
    }
    .phone h3{
        font-size: .8rem;
    }
    .mail a{
        font-size: .8rem;
    }
    .contact-info{
        margin-left: 2rem;
    }
    .mail h2{
        font-size: 1.1rem;
        padding-top: .3rem;
        display: flex;
        justify-content: center;
    }
    .title{
        text-align: center;
        margin-left: 0;
    }
    .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .history-img{
        margin-bottom: 1rem;
    }
    .history-img img{
        margin: auto;
    }
    .history-btn{
        margin-top: 2rem;
    }
    .history-btn a{
        padding: 0.6rem 1rem;
        font-size: 1.4rem;
    }
    .socials i{
        margin: 1.5rem .5rem .5rem .5rem;
    }
    .footer-nav ul{
        flex-direction: column;
        margin-top: 1rem;
    }
    .copyrights p,
    .copyrights span{
        font-size: .8rem;
    }
    .copyrights p:nth-child(2){
        font-size: .9rem;
    }
    .top-btn{
        right: 2rem;
        bottom: 2rem;
    }
    .historia .main-text{
        left: 65%;
    }
    .historia-container p,
    .historia-text,
    .historia-img_box{
        display: flex;
        flex-direction: column;
    }
    .historia-container img{
        margin: 2rem auto 0 auto;
    }

}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
  }

.loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
.loaderClass {
    border: 12px solid #dcd7d7;
    border-top: 12px solid var(--primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: SpinLoader 2.5s linear infinite;
   }
.loaderClass img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    animation: LogoModify 2.5s linear infinite;
 }


@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
}
@keyframes SpinLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes LogoModify {
    0% {
        transform: rotate(360deg);
    }   
    100% {
        transform: rotate(0deg);
    }
}





@-webkit-keyframes scroll{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes scroll{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;  
    }
}
