@import url('https://fonts.googleapis.com/css2?family=Nunito&family=PT+Sans+Narrow&family=Poppins&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	background-color: #1e1d23;
	font-size: 24px;
}

a{
    text-decoration: none;
    color: #fff;
}

nav{
    top: 0;
    position: sticky;
    font-family: Poppins;
    font-weight: 400;
    z-index: 100;
}

nav ul {
	height: 100vh;
	width: 70%;
    list-style: none;    
	transition: transform .3s;
    float: right;
    display: none;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;
}

nav li{
    padding-top: 3.5rem;
}

nav a{
    padding-right: 2rem;
    color: black;
    text-decoration: none;
    position: relative;
}

nav i,
.h a,
.h a:after,
.h a:before{
  transition: all .5s ease;
}

.h a:hover{
  color: red;
  font-size: 100%;
}

.h a:after{
  position: absolute;
  top: 1.9rem;
  left: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: green;
  height: 2px;
}

.h a:hover:after{
  width: 70%;
}

nav i:hover{
    transform: scale(1.1);
}

.media{
    height: 8vh;
    display: none;
}

.burger{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
	transition: transform .3s;
}

.active{
    display: flex;
    transition: all .2s ease;
}

.hide{
    display: none;
}

.logo img{
    height: 6vh;
    width: 6vh;
    z-index: 999;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 80%;
    float: left;
    background-color: #fff;
}

.pge img{
    height: 6vh;
    z-index: 999;
    margin-left: 8rem;
}

.pge{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 20%;
    background-color: #fff;
    float: left;
}

.main{
    height: 92vh;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0.6), rgb(0 0 0 / 0), rgb(0 0 0 / 0.6)), url(./img/main-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.scroll a{
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    z-index: 999;
}
.scroll a:hover {
    opacity: .5;
}

.main a{
    padding-top: 80px;
  }
.main a span{
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scroll 2s infinite;
    animation: scroll 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    z-index: 999;
}
.main a span:nth-of-type(1){
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.main a span:nth-of-type(2){
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.main a span:nth-of-type(3){
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}






.tytul{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
    min-width: 700px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
}

.ptable{
	margin: 0px 0% 30px 0%;
}

.col{
    background-color: #333;
}

th, td {
    padding: 10px;
}

th{
	color: var(--nav-bg);
}

.headin{
    color: var(--text-color);
    text-align: center;
    width: 50%;
    float: left;
    height: 4vh;
}

.wpos{
	text-align: center;
}

.wpos td:nth-child(1){
	color: rgb(12, 190, 12);
}

.pos{
	text-align: center;
}

.pos td{
	color: var(--text-color);
}

.pos td:nth-child(2){
    width: 300px;
}

.lpos{
    text-align: center;
}

.lpos td:nth-child(1){
    color: red;
}

.wpos:hover{
	background-color: var(--hover-color);
}

.wpos:hover td,
.pos:hover td,
.lpos:hover td{
    color: #fff;
}

.pos:hover{
	background-color: var(--hover-color);
}

.lpos:hover{
    background-color: var(--hover-color);
}

.guzik{
    width: 100%;
    text-align: center;
    height: 4vh;
}

.przycisk{
    width: 50%;
    float: left;
}

.przycisk select{
    height: 30px;
    width: 150px;
    color: black;
    background: purple;
    border-radius: 10px;
}

#seniorzy{
    display: block;
}

#js,
#jm,
#trampkarz,
#mlodzik{
    display: none;
}

.title{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    font-size: 1.6rem;
    margin: 2rem 0 3rem 5rem;
    text-transform: uppercase;
    /* text-decoration: underline blue 2px;
    text-underline-offset: 10px;   */
}

.contact{
    display: flex;
    align-items: center;
}

.contact-box{
    width: 50%;
}

.icon{
    position: absolute;
    left: 2.5rem;
}

.address{
    width: 50%;
}

.map iframe{
    height: 500px;
    width: 100%;
}

.phone{
    text-align: center;
    margin-bottom: 1.8rem;
}

.phone i{
    padding: 8px;
    font-size: 1.3rem;
    margin-top: 1rem;
    border-radius: 50%;
    background-color: red;
}

.phone:nth-child(5) i{
    margin-top: 0;
}

.phone:nth-child(5) h2{
    margin-left: 3rem;
}

.phone h2{
    font-size: 1.6rem;
    font-weight: 600;
}

.phone h3{
    font-size: 1.3rem;
    font-weight: 100;
    font-style: italic;
}

.contact-info span{
    border-bottom: 2px solid red;
}


.container{
    width: 80%;
    display: flex;
    margin: 2rem auto;
}

.history-img img{
    height: 270px;
    margin-right: 3rem;
}

.history-btn{
    margin-top: 1rem;
}

.history-btn a{
    padding: 0.4rem .8rem;
    background-color: red;
    border-radius: 30px;
    font-size: 1.3rem;
}

.history-btn i{
    margin-left: .6rem;
    padding: 6px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.history-btn:hover i{
    margin-left: 1rem;
    transition: all .3s ease;
}

.sponsor-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    letter-spacing: 2px;
}

.sponsorzy-logo{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.sponsorzy-logo a{
    text-align: center;
}

.sponsorzy-logo>*{
    flex: 0 0 33.3333%;
}

.sponsorzy-logo img{
    aspect-ratio: 2/1;
    width: 280px;
    object-fit: contain;
    filter: grayscale(100%);
    margin: 1rem 0;
    
}

.sponsorzy-logo img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter: none;
    -webkit-box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 33px -6px rgba(66, 68, 90, 1);
}


footer{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #333;
}

.socials{
    margin: auto;
}

.socials i{
    padding: 8px;
    border-radius: 50%;
    font-size: 2rem;
    margin: 1rem 1.5rem 1rem .5rem;
    background-color: #fff;
    color: #000;
}

.footer-nav{
    margin: auto;
}

.footer-nav ul{
    list-style: none;
    display: flex;
}

.footer-nav li{
    padding: 0 2rem 1rem;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 2rem;
}

.copyrights{
    background-color: #000;
}

.copyrights p{
    margin: .5rem 0;
    font-size: 1rem;
}

.copyrights span{
    font-weight: bold;
    color: green;
    font-size: 1.1rem;
}

.copyrights p:nth-child(2){
    font-size: 1.2rem;
}

.copyrights p:nth-child(2) span{
    color: red;
}

.copyrights p:nth-child(2) i{
    color: red;
}

/* .top-btn{
    position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 13px;
    right: 13px;
    background-color: red;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    display: none;
}

.top-btn i{
    color: white;
    margin-top: .6rem;
    font-size: 1.8rem;
    transition: all .3s ease;
}

.top-btn:hover{
    opacity: .9;
    transform: scale(1.1);
}

.top-btn:hover i{
    font-size: 2rem;
    margin-top: .5rem;
} */

.top-btn{
    width: 2.3rem;
    height: 2.3rem;
    position: fixed;
    right: 3.5rem;
    bottom: 3.5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.top-btn i{
    font-size: 1rem;
}

.show{
    display: block flex;
}

@media screen and (min-width: 768px){
    nav{
        background-color: #fff;
        height: 8vh;
    }
    .logo{
        width: 25%;
        float: left;
        justify-content: end;
    }
    .pge{
        width: 10%;
        float: left;
    }
    nav ul{
        height: 100%;
        width: 65%;
        display: flex;
        opacity: 1;
        flex-direction: row;
        align-items: center;
    }
    nav li{
        margin-left: 2rem;
        display: flex;
        justify-content: center;
    }
    .burger{
        display: none;
    }
    .media{
        margin-top: 8vh;
        display: block;
        float: left;
    }
    .media ul{
        display: block;
        display: flex;
        align-items: center;
    }
    .media li{
        margin-left: 0;
    }
    .inv{
        display: none;
    }
    .tytul{
        margin: 3rem;
    }
}

@media screen and (max-width: 768px){
    nav ul{
        background: rgba(255, 255, 255, 0.676);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    th:nth-child(5),
    th:nth-child(6),
    th:nth-child(7),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7){
    display: none;
    }
}




@-webkit-keyframes scroll{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
@keyframes scroll{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;  
    }
}
